<mat-toolbar color="primary">
  <a mat-icon-button routerLink="/" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Examportal</span>
  <span class="example-spacer"></span>
  <a mat-icon-button class="example-icon favorite-icon" routerLink="/login" style="margin-right: 20px !important;" *ngIf="!isLoggedIn">
    Login
  </a>
  <a mat-icon-button class="example-icon favorite-icon" routerLink="/signup" style="margin-right: 20px !important;" *ngIf="!isLoggedIn">
    Register
  </a>
  <a  class="" mat-button style="margin-right: 30px !important;" routerLink="/admin-dashboard/profile" *ngIf="isLoggedIn && user != '' ">
    {{user.username  }}
  </a>
  <a mat-raised-button class="example-icon favorite-icon" (click)="logout()" style="margin-right: 20px !important;" *ngIf="isLoggedIn">
    Logout
  </a>
</mat-toolbar>
