<div class="bootstrap-wrapper">

  <div class="container-fluid" style="width: fit-content; height: fit-content;">
      <div class="row">
          <div class="col-md-12">

           <mat-card>
               <div class="container text-center">
                   <mat-card-header>
                      <div class="container">
                          <div class="row">
                              <div class="col-md-12 text-center">
                               <mat-card-title>Welcome To Admin Panel</mat-card-title>
                               <mat-card-subtitle>Nice To See You Again sir</mat-card-subtitle>
                              </div>
                          </div>
                      </div>
                   </mat-card-header>
               </div>
               <mat-card-content>

               </mat-card-content>
               <mat-card-actions>
                   <div class="container">
                       <div class="row">
                           <div class="col-md-12 text-center">
                               <button mat-raised-button color="primary">Lets Start</button>
                           </div>
                       </div>
                   </div>

               </mat-card-actions>
           </mat-card>




          </div>
      </div>
  </div>


</div>
