<div class="bootstrap-wrapper">

  <div class="" style="width: fit-content; height: fit-content;">
    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <div class="container text-center">
                    <mat-card-header>
                       <div class="container">
                           <div class="row">
                               <div class="text-center">
                                <mat-card-title>Welcome To Admin Panel</mat-card-title>
                                <mat-card-subtitle>Nice To See You Again sir</mat-card-subtitle>
                                <p style="text-align: justify;">
                                    On behalf of all the department heads and staff of the Town of Walpole, it is my pleasure to welcome you to our historic community and thank you for visiting the Official Town of Walpole web page. In Walpole, customer service is our main goal, and it is our mission to provide our residents, business owners, and visitors alike with the highest level of quality and professional service. Town officials and employees work diligently in partnership with the Walpole community to ensure that the town remains a safe and secure environment in which to live and work.
                                    As you browse this site, you will find information such as permit & license applications, job postings, budget data, road & highway projects updates, board & committee meetings, and much more. We continue to update the site so that all of this and more will be at your fingertips and only a click away from your own home or business. That being said, take a few moments to explore our web format and some of the information we have placed here. In addition, please do not hesitate to contact us by using the "Have a question? Click here" box located at the bottom of every web page with any questions or suggestions you may have.
                                    It is my pleasure to serve the Town of Walpole as your Town Administrator. My door is always open if you need assistance so please feel free to stop in, call or email me anytime.
                                    Again, thank you for visiting our web site, and welcome to Exam_Portal
                                </p>
                               </div>
                           </div>
                       </div>
                    </mat-card-header>
                </div>
                <mat-card-content>
        
                </mat-card-content>
                <mat-card-actions>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button mat-raised-button color="primary">Lets Start</button>
                            </div>
                        </div>
                    </div>
        
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
  </div>


</div>
