<div class="bootstrap-wrapper">

   <div class="container-fluid">
       <div class="row">
           <div class="col-md-12">

            <mat-card>
                <div class="container text-center">
                    <mat-card-header>
                       <div class="container">
                           <div class="row">
                               <div class="col-md-12 text-center">
                                <mat-card-title>Welcome To Examportal</mat-card-title>
                                <mat-card-subtitle>Right place to Test Yourself</mat-card-subtitle>
                               </div>
                           </div>
                       </div>
                    </mat-card-header>
                </div>
                <mat-card-content>
                    <h2>How it Workks : </h2>
                    <p>
                        Exams Portal allows introducing a fully-digital, cloud-based, paper-free and media-free distribution method for medical imaging exams. It can complement or completely replace traditional exams distribution methods, for instance based on DICOM CDs / DVDs. With Exams Portal, after doing a medical exam at the medical institution, patients will simply receive a web address and an automatically-generated login, and they will immediately be able to go online and consult their medical images, as well as the related reports. Thanks to this fully-digital and cloud-based distribution method, medical institutions from all around the world will be able to significantly save on costs, while at the same time reducing the maintenance hassles deriving from production of DICOM CDs/DVDs or from printing and delivery of paper reports.
                    </p>
                    <h2>High security, privacy and reliability</h2>
                    <p>
                        Exams Portal relies on a high-end cloud infrastructure, where storage of data (DICOM files and non-DICOM documents) is separated from the business-logic portion, running the web portal and managing the published exams’ database. Strict privacy and security policies are adopted, both from the physical and from the software points of view.
                        All exchanged data are encrypted, both in transit and at rest, according to the best industry standards.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button mat-raised-button color="primary">Lets Start</button>
                            </div>
                        </div>
                    </div>

                </mat-card-actions>
            </mat-card>




           </div>
       </div>
   </div>


</div>
